.card-container {
  display: flex;
  height: 100%;
  width: 100%;
  padding: 50px;
  .question {
    width: 50%;
    margin-right: 50px;
  }
  .answer {
    width: 50%;
    margin-left: 50px;
  }
  .react-quill-style {
    width: 100%;
    height: 80%;
  }
}
