.list-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  .quiz {
    border: 1px solid black; // Set border for all sides
    border-bottom: none; // Remove bottom border for all elements
    width: 100%;
    text-align: center;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:last-child {
      border-bottom: 1px solid black; // Apply bottom border only to the last element
    }
  }
  .active {
    background-color: orangered;
  }
}
