.quiz-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  margin-top: 10px;
  height: 85%;
  .grid-container {
    display: flex;
    flex-direction: column;

    .answers-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 10px;
      .elements {
        border: 1px solid black;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;
        width: 300px;
        border-radius: 50px;
        &:hover {
          background-color: orange;
          cursor: pointer;
        }
      }
      .correct {
        background-color: green;
        &:hover {
          background-color: green;
        }
      }
      .false {
        background-color: red;
        &:hover {
          background-color: red;
        }
      }
    }
    .footer {
      margin-top: 10px;
      width: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      button {
        width: 30%;
        margin-bottom: 10px;
      }
    }
  }
  .game-over {
    color: red;
  }
  .winner {
    color: green;
  }
}
