.groupGray {
  background-color: '#eeeeee';
}
.groupWhite {
  background-color: '##fafafa';
}

.css-dsuxgy-MuiTableCell-root {
  padding-right: 0 !important;
}

.css-1ex1afd-MuiTableCell-root {
  padding-right: 0 !important;
}
